<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {% block headjs %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        {% block topBar %}
        <div class="top-bar">
            <h3>
                <a class="resor-title" href="{{ path('home') }}">Resor</a>
            </h3>
            <div class="top-bar-content pull-right">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="top-bar-link" href="{{ path('campings_list') }}">Gérer les campings</a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                    <a class="top-bar-link" href="{{ path('fos_user_registration_register') }}">
                        <strong>
                            Créer un compte
                        </strong>
                    </a>
                    <a class="top-bar-link" href="{{ path('fos_user_security_login') }}">Se connecter</a>
                {% else %}
                    <a class="top-bar-link" href="{{ path('fos_user_profile_show') }}">Mon compte</a>
                    {% if is_granted('ROLE_ADMIN') == false %}
                        {% if is_granted('ROLE_CAMPING') %}
                            <a class="top-bar-link" href="{{ path('camping_edit') }}">Mon camping</a>
                        {% else %}
                            <a class="top-bar-link" href="{{ path('camping_add') }}">Inscrire un camping</a>
                        {% endif %}
                    {% endif %}
                    <a class="top-bar-link" href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                {% endif %}
            </div>
        </div>
        {% endblock topBar %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                '@ResorCoreBundle/Resources/public/js/vendor/jquery/dist/jquery.js'
                '@ResorCoreBundle/Resources/public/js/vendor/ubilabs-geocomplete/jquery.geocomplete.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
        <script src="http://figuel.meteor.com/collect.js"></script>
        <script>FiguelAnalytics.init('HGL3MocSzoHD97Bvv')</script>
    </body>
</html>
