{% extends '::base.html.twig' %}

{% block title %}Resor{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@ResorCoreBundle/Resources/public/css/general.css'
        '@ResorCoreBundle/Resources/public/css/results.css'
        '@ResorCoreBundle/Resources/public/js/vendor/pikaday/css/pikaday.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block headjs %}
    <script type="text/javascript" src="//maps.google.com/maps/api/js?libraries=places&sensor=true"></script>
    {% javascripts
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@ResorCoreBundle/Resources/public/js/vendor/jquery/dist/jquery.js'
        '@ResorCoreBundle/Resources/public/js/vendor/underscore/underscore.js'
        '@ResorCoreBundle/Resources/public/js/vendor/geocomplete/jquery.geocomplete.js'
        '@ResorCoreBundle/Resources/public/js/vendor/moment/moment.js'
        '@ResorCoreBundle/Resources/public/js/vendor/pikaday/pikaday.js'
        '@ResorCoreBundle/Resources/public/js/vendor/gmaps/gmaps.js'
        '@ResorCoreBundle/Resources/public/js/results.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script type="text/javascript">
        window.exposed = {
            lat: {{ lat }},
            lng: {{ lng }},
            place: '{{ place }}',
            from: '{{ from }}',
            to: '{{ to }}'
        };
    </script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="main" ng-app="resultsApp">
        <div class="result-page">
            <div id="map"></div>
            <div class="content" >
                <div class="filters-bar" id="filters">
                </div>
                <div class="results-body">
                    <ul class="results" id="results">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
