{% extends '::base.html.twig' %}

{% block title %}Ajouter un Camping{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1 class="container-header">Ajouter un camping</h1>
        </div>
    <div class="content">
        <form action="{{ path('camping_add') }}" method="POST" {{ form_enctype(form) }}  novalidate="novalidate" class="js-form edit-form">
            <div id="form-map" style="height: 200px; width: 390px; float: right;"></div>
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.location) }}
                    {{ form_widget(form.lat, {'attr' : {'data-geo': 'lat'}})}}
                    {{ form_widget(form.lng, {'attr' : {'data-geo': 'lng'}})}}
                    {{ form_row(form.owner) }}
                    <div class="form-submit">
                        <input type="submit" value="Enregistrer" class="submit-button"/>
                    </div>
                {{ form_end(form) }}
        </form>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript">
        $(function () {
            $('#camping_location').geocomplete({
                map: '#form-map',
                details: '.js-form',
                detailsAttribute: 'data-geo',
                location: $('#camping_location').val()
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% stylesheets
    '@ResorCoreBundle/Resources/public/css/general.css'
    '@ResorCoreBundle/Resources/public/css/edit-camping.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}