{% extends '::base.html.twig' %}

{% block title %}Resor | Réservation{% endblock %}

{% block stylesheets %}
    {% stylesheets
        '@ResorCoreBundle/Resources/public/css/general.css'
        '@ResorCoreBundle/Resources/public/css/booking.css'
        '@ResorCoreBundle/Resources/public/js/vendor/pikaday/css/pikaday.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block headjs %}
    <script type="text/javascript">
        var offers = '{{ offers | serialize }}';
        offers = offers.replace(/&quot;/g, '"');
        window.exposed = {
            from: '{{ from }}',
            to: '{{ to }}',
            bookingId: '{{ bookingId }}',
            offers: JSON.parse(offers)
        };
    </script>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@ResorCoreBundle/Resources/public/js/vendor/jquery/dist/jquery.js'
        '@ResorCoreBundle/Resources/public/js/vendor/underscore/underscore.js'
        '@ResorCoreBundle/Resources/public/js/vendor/moment/moment.js'
        '@ResorCoreBundle/Resources/public/js/vendor/pikaday/pikaday.js'
        '@ResorCoreBundle/Resources/public/js/booking.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        $(function () {
            var app = new BookingApplication();
            app.start();
        });
    </script>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="booking-page">
            <div class="booking-top-bar">Réservation du {{ camping.name }}</div>
            <div class="booking-content">
                <h1>{{ camping.name }}</h1>
                <div id="booking">
                </div>
                {% if camping.alfredId != 0 %}
                    <div id='loadingFrame'>
                        <img src='http://jimpunk.net/Loading/wp-content/uploads/loading1.gif'/>
                    </div>
                    <div id='divFrame'></div>
                    <script type='text/javascript' src='http://naqotepu.com/js/alfred-iframe.js'></script>
                    <script type='text/javascript'>createIframe('http://naqotepu.com/iframe/{{ camping.alfredId }}');</script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
